* {
  padding: 1;
  border-radius: 10px;
  margin: 0;
  font-family: JetBrainsMono Nerd Font Propo;
  font-weight: 700;
  font-size: 15px;
  background-color: #1e2030;
}

window#waybar {
  background-color: rgba(0, 0, 0, 0);
}

#custom-launcher {
  font-size: 20px;
  color: #00bfff;
  padding-right: 10px;
  background-color: #1e2030;
}

#cpu,
#memory,
#temperature,
#custom-vram,
#disk,
#bluetooth {
  font-size: 15px;
  background: #2a2d45;
  margin-top: 5px;
  margin-bottom: 5px;
}

#cpu {
  color: #ffc676;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 0px 0px 5px;
}

#memory {
  color: #c2e78c;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#temperature {
  color: #8aadf4;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 0px 0px 0px;
}

#custom-vram {
  color: #c6a0f6;
  padding: 0px 10px 0px 0px;
  border-radius: 0px 5px 5px 0px;
}

#custom-playerctl {
  padding: 0px 0px 0px 0px;
}

#disk {
  color: #68b0d6;
  margin-left: 15px;
  padding: 0px 8px 0px 1px;
  border-radius: 5px 5px 5px 5px;
}

#bluetooth {
  color: #68b0d6;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 5px 5px;
}

#workspaces button:nth-child(1) label {
  color: #8aadf4;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(2) label {
  color: #f6768e;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(3) label {
  /*   color: #a6da95; */
  color: #aab1d3;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(4) label {
  color: #c6a0f6;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(5) label {
  color: #f4dbd6;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(6) label {
  color: #f5a97f;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(7) label {
  color: #8bd5ca;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(8) label {
  color: #68b0d6;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#workspaces button:nth-child(9) label {
  color: #aab1d3;
  font-size: 16px;
  margin: 0px 2px;
  background-color: #1e2030;
}

#pulseaudio,
#custom-vpn,
#network {
  font-size: 15px;
  background-color: #2a2d45;
  margin-top: 5px;
  margin-bottom: 5px;
}

#pulseaudio {
  color: #85e0fc;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 5px 5px;
}

#network {
  color: #c6a0f6;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 5px 5px;
}

#custom-dot {
  color: #6e738d;
  padding-right: 10px;
  background-color: #1e2030;
}

#custom-dot-alt {
  color: #a5adcb;
  padding-left: 10px;
  padding-right: 10px;
}

#custom-clock-icon {
  color: #cad3f5;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 5px;
}

#custom-vpn.connected {
  color: #73daca;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 5px 5px;
}
#tray {
  padding-left: 6px;
  padding-right: 10px;
}

#custom-vpn.disconnected {
  color: #f38ba8;
  padding: 0px 10px 0px 10px;
  border-radius: 5px 5px 5px 5px;
}

#clock {
  padding-left: 10px;
}

#custom-notifications {
  padding-left: 8px;
  padding-right: 12px;
}
/*# sourceMappingURL=style.css.map */
